.homeContainer{
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: linear-gradient(to right, #eff6ff, #dbeafe);
}

.heroSection{
  max-width: 700px;
  text-align: center;
}

.heroSection h1{
  font-size: 52px;
  color: #0f172a;
  margin-bottom: 20px;
  line-height: 1.2;
}

.heroSection p{
  font-size: 18px;
  color: #475569;
  margin-bottom: 35px;
  line-height: 1.7;
}
.logo{
  width: 20rem;
  margin-bottom: 1.5rem;
}

.buttonGroup{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.registerBtn,
.loginBtn{
  padding: 13px 28px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.registerBtn{
  background-color: #2563eb;
  color: white;
}

.registerBtn:hover{
  background-color: #1d4ed8;
}

.loginBtn{
  background-color: white;
  color: #2563eb;
  border: 1px solid #2563eb;
}

.loginBtn:hover{
  background-color: #eff6ff;
}